@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@font-face {
	font-family: "Inter"; /* Nombre de la fuente que se usará */
	font-weight: 400; /* Peso de la fuente (Regular) */
	src: url("/fonts/Inter-Regular.ttf") format("truetype"); /* Ruta de la fuente y formato */
}

@font-face {
	font-family: "InterLight"; /* Nombre de la fuente que se usará */
	font-weight: 300; /* Peso de la fuente (Light) */
	src: url("/fonts/Inter-Light.ttf") format("truetype"); /* Ruta de la fuente y formato */
}

@font-face {
	font-family: "InterBold"; /* Nombre de la fuente que se usará */
	font-weight: 700; /* Peso de la fuente (Bold) */
	src: url("/fonts/Inter-Bold.ttf") format("truetype"); /* Ruta de la fuente y formato */
}

html {
	height: 100vh;
	
}

body {
	color: white;
	background: #0f172a;
	font-family: Inter;
	
}

.ReactModal__Overlay.custom-overlay {
	position: fixed;
  inset: 0px;
  background-color: rgba(60, 60, 60, 0.78);
  }
  
